@model IEnumerable<MartinHobesaluChairMeditation.Models.Order>

@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
