@model IEnumerable<MartinHobesaluChairMeditation.Models.Order>

@{
    ViewData["Title"] = "Table Status";
    int AmountLeft = 0;

}

<h1>Table Status</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedAmount)
            </th>
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
            {
               <th>
                   Toole teha veel
               </th>
            }

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedAmount)
            </td>
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                           {
                               <td>
                                @(item.OrderAmount - item.CompletedAmount)
                        @{
                            AmountLeft += item.OrderAmount - item.CompletedAmount;
                        }
                        </td>
                            }
        </tr>
}
    </tbody>
</table>

@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <a>How many left to complete: @AmountLeft orders</a>
}

